* {
  font-family: 'Open Sans', sans-serif;
}

// @font-face {
//   font-family: "Gilroy";
//   src: url("Gilroy-Light.otf");
// }

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}



.end-message {
  text-align: center;
}

.search-bar {
  margin: 0 auto;
}

.search-items {
  width: 220px;
}

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

.flag {
  width: 100px;
}

.card {
  margin: 20px;
  border-radius: 3px;
  width: 220px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
}

// Show page
.cover {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 640px;
}

.show-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.flashcard {
  height: 100px;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.reveal-button {
  font-weight: bold;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.answer-button {
  font-weight: bold;
  margin: 0 auto;
  height: 50%;
  width: 45%;
}

.deck-information {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.information {
  margin: 0 20px;
  text-transform: uppercase;
}

.deck-buttons {
  display: flex;
  justify-content: center;
}

.show-buttons {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  width: 150px;
}

.show-buttons-icon {
  margin-right: 5px;
}

@media only screen and (max-width: 640px) {

  .cover {
    margin-top: 0px;
  }

  .show-title {
    font-size: 20px;
  }

  .deck-information {
    font-size: 12px;
  }

  .information {
    margin: 0 20px;
    text-transform: uppercase;
  }

  .show-buttons {
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    width: 85px;
  }

  .unfavourite-button {
    width: 120px;
  }

  .show-buttons-icon {
    margin-right: 2px;
  }

  .reveal-button {
    height: 100%;
    width: 100%;
  }

  .answer-button {
    height: 50%;
    width: 45%;
  }

  // CREATE PAGE

  .decks-form {
    margin: 0 auto;
    width: 280px;
  }

  .placeholder {
    color: light-grey;
  }

  // .decks-form-outside {
  //   margin-bottom: 20px;
  // }

  .cards-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 280px;
  }

  .decks-form-outside {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    width: 280px;
  }

  .new-card {
    width: 140px;
  }

  .new-card-form {
    margin-bottom: 20px;
  }

  .add-button {
    display: inline-block;
    border: 1px solid black;
    height: 36px;
    width: 36px;
  }

  .add-button-div {
    margin-top: 20px;
  }

  .error {
    height: 20px;
    font-size: 10px;
    margin: 0 auto;
    width: 280px;
  }
}
