.flashcard {
  height: 100px;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.answer-button {
  margin: 0 auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover {
  margin: 0 auto;
  max-width: 640px;
}

.end-message {
  text-align: center;
}

.search-bar {
  margin: 0 auto;
}

.search-items {
  width: 220px;
}

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

.flag {
  width: 100px;
}

.card {
  // margin: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 220px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
}
