// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// $link: purple;
$primary: #9D44B5;
$primary-invert: #fff;
$link: #69DDFF;
$danger: $orange;
$background: white;
$family-primary: 'Karla', sans-serif;

// 5. Add new color variables to the color map.
// @import "bulma/utilities/derived-variables.sass";
// $addColors: (
//   "twitter":($twitter, $twitter-invert),
//   "linkedin": ($linkedin, $linkedin-invert),
//   "github": ($github, $github-invert)
// );
// $colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "bulma/bulma";

// @font-face {
//   font-family: "Gilroy";
//   src: url("Gilroy-Light.otf");
// }

h1 {
  color: $primary;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  border-bottom: 1px solid $primary;
  margin-bottom: 30px;
}

.navbar {
  h1 {
    font-weight: 700;
    font-size: 20px;
  }
}


.end-message {
  text-align: center;
}

.search-bar {
  margin: 0 auto;
}

.search-items {
  width: 220px;
}

.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}

.flag {
  width: 100px;
}

.card {
  margin: 20px;
  border-radius: 3px;
  width: 220px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: 0 auto;
}

// Show page
.cover {
  background-color: $background;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 640px;
}

.show-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.flashcard {
  height: 100px;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.reveal-button {
  font-weight: bold;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.answer-button {
  font-weight: bold;
  margin: 0 auto;
  height: 50%;
  width: 45%;
}

.deck-information {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.information {
  margin: 0 20px;
  text-transform: uppercase;
}

.deck-buttons {
  display: flex;
  justify-content: center;
}

.show-buttons {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  width: 150px;
}

.show-buttons-icon {
  margin-right: 5px;
}

// LOGIN AND REGISTER

.user-input {
  width: 400px;
  margin: 0 auto;
  // margin-bottom: 20px;
}

.login-button {
  width: 400px;
}


// CREATE PAGE

.decks-form {
  margin: 0 auto;
  width: 400px;
}

.placeholder {
  color: light-grey;
}

.cards-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 400px;
}

.decks-form-outside {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  width: 400px;
}

.new-card {
  width: 200px;
}

.new-card-form {
  margin-bottom: 20px;
}

.add-button {
  display: inline-block;
  border-radius: 3px;
  background-color: dodgerblue;
  color: white;
  height: 36px;
  margin-left: 10px;
  width: 36px;
}

.add-button-div {
  margin-top: 20px;
}

.save-button {
  font-weight: bold;
  text-transform: uppercase;
}

.error {
  height: 20px;
  font-size: 10px;
  margin: 0 auto;
  width: 400px;
}


// PROFILE PAGE
.profile {
  background-color: $background;
  width: 900px;
}

@media only screen and (max-width: 900px) {

  // PROFILE
  .profile {
    width: 600px;
  }

}

@media only screen and (max-width: 640px) {

  .cover {
    margin-top: 0px;
  }

  .show-title {
    font-size: 20px;
  }

  .deck-information {
    font-size: 12px;
  }

  .information {
    margin: 0 20px;
    text-transform: uppercase;
  }

  .show-buttons {
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    width: 85px;
  }

  .unfavourite-button {
    width: 120px;
  }

  .favourite-button {
    width: 120px;
  }

  .show-buttons-icon {
    margin-right: 2px;
  }

  .reveal-button {
    height: 100%;
    width: 100%;
  }

  .answer-button {
    height: 50%;
    width: 45%;
  }

  // CREATE PAGE

  .decks-form {
    margin: 0 auto;
    width: 240px;
  }

  .placeholder {
    color: light-grey;
  }

  .cards-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 240px;
  }

  .decks-form-outside {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    width: 240px;
  }

  .new-card {
    width: 120px;
  }

  .new-card-form {
    margin-bottom: 20px;
  }

  .add-button {
    display: inline-block;
    border: 1px solid black;
    height: 36px;
    margin-left: 0px;
    width: 36px;
  }

  .add-button-div {
    margin-top: 20px;
  }

  .error {
    height: 20px;
    font-size: 10px;
    margin: 0 auto;
    width: 280px;
  }

  // LOGIN AND REGISTER

  .user-input {
    width: 280px;
    margin: 0 auto;
    // margin-bottom: 20px;
  }

  .login-button {
    width: 280px;
  }

  .profile {
    width: 280px;
  }
}
